<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-view.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>ADPBSC - Programação da Semana</title>
</head>
<body>

    <header id="header">

        <div id="header-identification">
            <img id="logo" src="../assets/Painel_adm.png" alt="Logo da Assembléia de Deus">

            <div id="header-identification-text">
                <div class="textoLogo sigla">ADPB</div>
                <div class="textoLogo cidade"> Santa Cecília</div>
            </div>
        </div>

        <div id="header-nav-buttons">
            <a class="button" id="home">Início</a>
            <a class="button" id="gallery" href="#">Galeria</a>
            <a class="button" id="about" href="#">Sobre</a>
        </div>
  
    </header>

    <hr id="splitter">

    <main>

        <div id="viewcard">
            <h1 id="day"><%=dataToRender.dayWeek%></h1>
            <h2 id="service"><%=dataToRender.service%></h2>
            <h2 id="date"><%=dataToRender.date%></h2>
            <h3 id="time"><%=dataToRender.time%></h2>
            <h4 id="incumbents" >Escalados: <%=dataToRender.incumbents%></h4>
            <hr id="splitter-viewcard">
            <audio controls id="player">
                <source src=<%=dataToRender.urlAudio%>type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

    </main>
    
    <script src="../scripts/index-view.js"></script>
</body>
</html>